# Copy this file to .env and set real values
TWENTY_API_TOKEN=
PORT=3000
TELG2ARM_TOKEN=
ADMIN_ID=
WEBHOOK=
TWENTY_LINK=

# Next.js + Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Database
DATABASE_URL=
